<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Gcoin-Blockchain</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="menu-option<% if(page_title=='Home'){%> active<%}%>"><a href="/">Home</a></li>
                    <li class="menu-option<% if(page_title=='Walletinfo'){%> active<%}%>"><a href="/wallet">Wallet</a></li>
                    <li class="menu-option<% if(page_title=='Blockinfo'){%> active<%}%>"><a href="/blockinfo">Blockinfos</a></li>
                    <li class="menu-option<% if(page_title=='Transaction'){%> active<%}%>"><a href="/tx">Transaction</a></li>
                    <li class="menu-option<% if(page_title=='Tokenize'){%> active<%}%>"><a href="/tokenize">Tokenization</a></li>
                    <li class="menu-option-example<% if(page_title=='FuturesTrade'){%> active<%}%>"><a href="/futures">Futures Trade</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>