<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body class="container">
  	<header>
  		<% include header %>
  	</header>
   	<div class="wrapper"><%- body %>
      <div class="push"></div>
    </div>
   	<footer>
    <hr>
   		<% include footer %>
   	</footer>
  </body>
</html>